
.carousel {

    width: 99%;
    height: 291px;
    background-color: #EE394F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;

    .right {
        width: 13%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column wrap;
        margin-bottom: 15px;

        .h1-1 {
            width: 100%;
            height: 90px;
            color: white;
            font-family: new;
            font-weight: normal;
            line-height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            text-align: center;
            padding-bottom: 10px;

            h3 {

                font-size: 25px;
            }

        }

        .mid-1 {
            width: 100%;
            height: 30px;
            background-color: #EE394F;
        }

        .icon-f {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
        }

        .observ {
            width: 100%;
            height: 26px;
            padding-top: 30px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            padding-right: 15px;
        }
    }

    .left {
        width: 87%;
        height: 255px;
    }

}

.picmain {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 10px;

    .pic1,
    .pic2,
    .pic3,
    .pic4 {
        width: 24%;
        height: 242px;

        img {
            width: 100%;
            height: inherit;
            object-fit: cover;
            object-position: center center;
            border-radius: 17px;
        }

    }
}

.discount {
    width: 99%;
    height: 110px;
    margin: 0 auto;
    background-color: #cbcfce;
    border-radius: 17px;
    margin-top: 15px;
    display: flex;

    .right {
        width: 40%;
        height: 110px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;


    }

    .discount1 {
        width: 119px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 20px;
        background-color: #029A49;
        font-family: yekan;
        font-size: 14px;


    }

    .right {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 40%;
        padding-left: 20px;

        .right1 {
            color: #029A49;

        }

        .icon1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;


        }

    }

}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 50%;
    height: inherit;
    position: relative;

    .number1,
    .number2,
    .number3,
    .number4,
    .number5,
    .number6 {
        height: 75px;
        width: 80px;
        border-radius: 50%;
        background-color: #FFFFFF;

        img {
            width: inherit;
            height: inherit;
            border-radius: 50%;
            object-fit: cover;

        }

    }

    .value1,
    .value2,
    .value3,
    .value4,
    .value5,
    .value6 {
        width: 30px;
        height: 20px;
        border-radius: 20px;
        background-color: #EE394F;
        display: flex;
        flex-flow: column wrap;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;



    }

    .value1 {
        position: absolute;
        top: 73px;
        left: 55px;

    }

    .value2 {
        position: absolute;
        top: 73px;
        left: 165px;
    }

    .value3 {
        position: absolute;
        top: 73px;
        left: 275px;
    }

    .value4 {
        position: absolute;
        top: 73px;
        left: 390px;
    }

    .value5 {
        position: absolute;
        top: 73px;
        right: 125px;
    }

    .value6 {
        position: absolute;
        top: 73px;
        right: 15px;
    }


}

.left {
    width: 10%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;

    .button {
        color: #029A49;
        height: 50px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 20px;

        svg {
            margin-top: 10px;


        }

        h4 {
            font-weight: 600;
            font-size: 12px;

        }
    }
}

.pro {
    margin-right: 6px;
    margin-top: 15px;
    width: 99%;
    height: 250px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 11px;

    .staff {
        width: 325px;
        height: inherit;

        img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
        }

    }

}

.text {
    width: 99%;
    height: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 10px;

    h1 {
        font-weight: normal;
    }
}

