.container{
    width: 99%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    gap: 10px;
    .cream,.sunglass{
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: inherit;
            height: inherit;
            border-radius: 15px;
            object-fit: cover;
            object-position: center;
        }
    }
    
}
.Brand-Slider{
width: 99%;
height: 225px;
border: 1px solid #E0E0E2;
border-radius: 15px;
margin-top: 15px;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;
.fav{
    width: inherit;
    height:90px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
       font-weight: normal;
    }
}
.B-Slider{
    width: 100%;
    height: 130px;
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 30px;
        
      }
   
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
   
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
}
.phone{
    margin-top: 20px;
    width: 99%;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E0E0E2;
    .parts-1,.parts-2,.parts-3,.parts-4{
        width: 25%;
        height: inherit;
        border: 1px solid #E0E0E2;
        
        
    }
    .text-1{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column wrap;
        padding-right: 20px;
        line-height: 28px;
        padding-top: 2px;
        color: #23254e;
        h4{
            font-weight: 600;
        }
        p{
            font-size: 12px;
            opacity: 0.5;
        }
    

    }
    .parts-1{
        display: flex;
        justify-content: flex;
        align-items: center;
        flex-flow: column;
        .first-1,.second-1{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
       .first-1 img{
        width: 50%;
        height: 100%;
        padding: 20px;

       }
       .second-1 img{
        width: 50%;
        height: 100%;
        padding: 20px;
       }
           

    }
 
    .parts-2{
        display: flex;
        justify-content: flex;
        align-items: center;
        flex-flow: column;
        .first-2,.second-2{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
       .first-2 img{
        width: 50%;
        height: 100%;
        padding: 20px;

       }
       .second-2 img{
        width: 50%;
        height: 100%;
        padding: 20px;
       }
           

    }
    .parts-3{
        display: flex;
        justify-content: flex;
        align-items: center;
        flex-flow: column;
        .first-3,.second-3{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
       .first-3 img{
        width: 50%;
        height: 100%;
        padding: 20px;

       }
       .second-3 img{
        width: 50%;
        height: 100%;
        padding: 20px;
       }
           

    }
    .parts-4{
        display: flex;
        justify-content: flex;
        align-items: center;
        flex-flow: column;
        .first-4,.second-4{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
       .first-4 img{
        width: 50%;
        height: 100%;
        padding: 20px;

       }
       .second-4 img{
        width: 50%;
        height: 100%;
        padding: 20px;
       }
           

    }
    
}
.most-sales{
    width: 99%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    margin-top: 15px;
    border-radius: 15px;
    border: 1px solid #E0E0E2;
    .bowl-1{
        width: inherit;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        .h-1{
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            h3{
                font-size: 21px;
                padding-right: 20px;
            }
        }
        .h-2{
            width: 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-size: 14px;
                color: #19BFD3;
                padding-right: 30px;
                font-weight: 600;
            }
        }
    }
    

}
.caption{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    span{
        width: fit-content;
        font-size: 12px;
        margin-bottom: 35px;
    }
}
.bowl-2{
    width: 100%;
    height: 400px;
    .swiper {
        width: 100%;
        height: 330px;
        margin-left: auto;
        margin-right: auto;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: calc((100% - 30px) / 2) !important;
  
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
      }
      .main-1{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-left: 20px;
        line-height: 20px;
      .photo-s{
        width: 86px;
        height: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 86px;
            height: 86px;
        }
      }
      .price-1{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-content: center;
       p{
        padding-top: 13px;
        font-size: 12px;
        opacity: 0.7;
       }
        
        h3{
            font-size: 26px;
            padding-left: 10px;
            color: #19BFD3;
            margin-top: 10px;
        }
      }
    }
}
.city-1{
    width: 172px;
    height: 34px;
    position: absolute;
    border-radius: 20px;
    left: 3%;
    top:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    background-color: #FFF6EE;
    
    .svg-2{
        width: inherit;
        height: inherit;
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        gap: 10px;
        color: #F78D17;
        svg path{
        fill: #F78D17;
    
        }
       
    }
}